{% extends "parent.html" %}

{% block title %}放課後アプリ部とは？{% endblock %}

{% block main %}
	<div class="row">
		<div class="col-xs-12 col-sm-8">
		 	<div class="page-header">
	    	 	<h1>放課後アプリ部とは？</h1>
	    	 	放課後アプリ部とは、個人のアプリディベロッパーが集まって作る
	    	 	新しいWebサービスです。<br>
	    	 	会社の利益や方針に縛られない自由なアプリを集めています。

	    	 	
	    	 	<h2>活動目的</h2>
	    	 	<ul>
	    	 		<li>アプリの認知度向上・集客力増加</li>
	    	 		<li>開発者としての成果記録・公開</li>
	    	 		<li>(予定)開発者同士の交流促進</li>
	    	 		<li>(予定)開発者と利用者間での情報・アイデア交換</li>
	    	 		<li>(予定)API、SDKによる登録情報の利用・相互集客</li>
	    	 	</ul>

	    	 	
	    	 	<p>
	    	 		放課後アプリ部の設立目的は、
	    	 		個人で作ったアプリのユーザー集めを支援したい
	    	 		ということでした。
		    	 	法人として作成したアプリと異なり、個人で作成したアプリは
		    	 	プレス掲載や広告出稿が行いづらく、よいアプリを作っても
		    	 	思うようにユーザーを集めるのが大変です。
		    	 	そんな個人開発のアプリを救うべく、
		    	 	個人アプリ開発者専用の集客サービスを立ち上げようと考えました。
		    	 	それがこの放課後アプリ部です。
		    	 </p>
		    	 <p>
		    	 	まずは第一フェーズとして、多くのディベロッパー様に
		    	 	この放課後アプリ部へ登録していただけるよう力を入れていきます。
		    	 	放課後アプリ部に作成したアプリを登録するだけで、
		    	 	ユーザーへの認知度向上や、アプリダウンロード数の増加ができるような
		    	 	プラットフォームを作っていきます。
		    	 </p>
		    	 <p>
		    	 	次フェーズ以降としては、集まった開発者のネットワークや、
		    	 	それらの成果物であるアプリのデータベースを利用して、
		    	 	ディベロッパーやアプリユーザーの役に立てるような
		    	 	サービスへ発展させていきたいと考えています。
		    	 </p>
		    	 <h2>放課後アプリ部API</h2>
		    	 <div>
		    	 	<p>
		    	 		まだテスト実験段階ですが、放課後アプリ部のデータをAPIとして提供します。
		    	 		アプリ一覧などが取得できますので、興味があれば使ってみてください。
		    	 	</p>
		    	 	<p>
			    	 	<a href="{% url app.views.home.about_api %}" class="btn btn-info">詳しくはこちら</a>
			    	 </p>
		    	 </div>
		    	 <h2>GitHub</h2>
		    	 <div>
		    	 	放課後アプリ部はGitHubにてソースを公開しております。
		    	 	<a href="https://github.com/pistatium/houkago_app">
		    	 		https://github.com/pistatium/houkago_app
		    	 	</a>
		    	 	
		    	 </div>
	    	 </div>
	    </div>


		<div class="col-xs-12 col-sm-4">
	
			{% include 'plugin/regist_div.html' %}
        
	        <div>
	            <h2>スポンサード・リンク</h2>
	            {% include 'plugin/ads.html' %}
	        </div>
		</div>
	</div>

{% endblock %}