{% extends "parent.html" %}
{% load my_utils %}

{% block title %}
{{cat_id}}
    {% if cat_id %}
        {{cat_id|cat2str}}カテゴリ {{plat_str}}アプリ一覧 page.{{page}} - 放課後アプリ部
    {% else %}
        {{plat_str}}アプリ一覧 page.{{page}} - 放課後アプリ部
    {% endif %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-8">
            <h1>
                {% if cat_id %}
                    {{cat_id|cat2str}}カテゴリ 
                    <br>{{plat_str}}アプリ一覧
                {% else %}
                    {{plat_str}}アプリ一覧
                {% endif %}
            </h1>

            <ul class="pager">
                {% if apps.has_previous %}
                    <li class="active">
                        <a href="{{ apps.previous_page_number }}">&larr; previous</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href="#">&larr; previous</a>
                    </li>
                {% endif %}

                Page {{ apps.number }} of {{ apps.paginator.num_pages }}.

                {% if apps.has_next %}
                    <li class="active">
                        <a href="{{ apps.next_page_number }}">&rarr; next</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href="#">next &rarr; </a>
                    </li>
                {% endif %}
            </ul>

            <hr>
            <div class="row">
                {% for rapp in apps %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        {% include 'plugin/app_box.html' %}
                    </div>
                {% endfor %}
            </div>
            <hr>

            <ul class="pager">
                {% if apps.has_previous %}
                    <li class="active">
                        <a href="{{ apps.previous_page_number }}">&larr; previous</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href="#">&larr; previous</a>
                    </li>
                {% endif %}

                Page {{ apps.number }} of {{ apps.paginator.num_pages }}.

                {% if apps.has_next %}
                    <li class="active">
                        <a href="{{ apps.next_page_number }}">&rarr; next</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href="#">next &rarr; </a>
                    </li>
                {% endif %}
            </ul>

        </div>
        <div class="col-md-4">
            {% if cat_id %}
                <div class="list-group">
    
            {% endif %}

            <h2>カテゴリ一覧</h2>
            <div class="list-group">      
                <a class="list-group-item {{cat_id|default:0|yesno:"list-group-item-success, active"}}" href="{% url app.views.home.app_list plat_str 1 %}">全カテゴリ{{plat_str}}アプリ一覧</a>     

                {% for cat in categories %}
                    <a class="list-group-item {{cat_id|eq:cat.0|yesno:"active,"}}" href="{% url app.views.home.app_cat plat_str cat.0 1 %}">{{cat.1}}</a>
                {% endfor %}
            </div>

            <h2>スポンサード・リンク</h2>
            {% include 'plugin/ads.html' %}
        </div>
    </div>
{% endblock %}