{% extends 'parent.html' %}
{% load my_utils %}

{% block title %}{{app.app_name}}[{{platforms|choise:app.platform}}アプリ] - 個人開発者が集う！放課後アプリ部{% endblock %}


  {% block custom_og %}
  <meta property="og:title" content="{{app.app_name}} - 放課後アプリ部">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{app.tagline}} | 個人開発者が集まる放課後アプリ部！">
  <meta property="og:image" content="http://houkago-no.appspot.com{%url app.views.img.app_icon app.key.id%}">

  <meta property="og:site_name" content="放課後アプリ部">
  {% endblock %}

{% block meta %}
	<meta property="og:image" content="http://houkago-no.appspot.com{%url app.views.img.app_icon app.key.id%}">
	<meta name="twitter:card" content="product">
	<meta name="twitter:site" content="@site_username">
	<meta name="twitter:creator" content="{{developer.tw_name}}">
	<meta name="twitter:title" content="{{app.app_name}} - 放課後アプリ部 ">
	<meta name="twitter:description" content="{{app.tagline}}">
	<meta name="twitter:image:src" content="http://houkago-no.appspot.com{%url app.views.img.app_icon app.key.id%}">
	<meta name="twitter:data1" content="アプリの概要">
	<meta name="twitter:label1" content="{{app.pr_summary|truncate:100}}">
	<meta name="twitter:data2" content="このアプリを作った理由">
	<meta name="twitter:label2" content="{{app.why_create|default:"(未登録)"|truncate:100}}">
	<meta name="twitter:domain" content="houkago-no.appspot.com">

{% endblock %}

{% block main %}
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<div class="row">
		        <div class="col-xs-12 col-sm-3 col-md-4 pull-left center">
    		        <img src="{%url app.views.img.app_icon app.key.id%}" class="img-responsive max320">
		        </div>
				<div class="col-xs-12 col-sm-9 col-md-8">
					<h1 class="media-heading">
						{{app.app_name}}
						<br><small>{{app.tagline}}</small>
						<hr>
						<a href="{{app.dl_link}}" class="btn btn-primary btn-lg btn-block">
							<img src="/img/platform/{{app.platform}}_w.png" width=40>
							アプリを今すぐ使ってみる！
						</a>
					</h1>
				</div>
			</div>
			<div>	
				
				<div class="clearfix">

					<div class="well pull-right">
						<dl>
	  						<dt>登録日</dt><dd>{{app.created_at|date:"Y/m/d"}}</dd>
	  						{% if app.category %}
	  							<dt>カテゴリ</dt>
								<dd>
									<a href="{% url app.views.home.app_cat platforms|choise:app.platform app.category 1 %}">
										{{app.category|cat2str}}
									</a>
								</dd>
							{% endif %}	
	  						<dt>プラットフォーム</dt>
	  							<dd>							
	  								<img src="/img/platform/{{app.platform}}.png" width=20>
									{{platforms|choise:app.platform}}
								</dd>


						</dl>
					</div>
					<h2>アプリの概要</h2>
					<div class="app_detail">
						{{app.pr_summary|linebreaks}}
					</div>
				</div>		
				<div class="app_detail">	
					{% if app.why_create %}
						<h2>このアプリを作った理由を教えて下さい！</h2>
						{{app.why_create|linebreaks}}
					{% endif %}

					{% if app.product_point %}
						<h2>このアプリを開発する上で力を入れたポイントは？</h2>
						{{ app.product_point|linebreaks}}
					{% endif %}
					{% if app.target_user %}
						<h2>どんなユーザーに使って欲しいですか？</h2>
						{{ app.target_user|linebreaks}}
					{% endif %}
					{% if app.technology %}
						<h2>使用している言語、ライブラリなどは何ですか？</h2>
						{{ app.technology|linebreaks}}
					{% endif %}
					{% if app.dev_scale %}
						<h2>アプリ開発の規模はどれくらいですか</h2>
						{{ app.dev_scale|linebreaks}}
					{% endif %}
					{% if app.future_vision %}
						<h2>今後の展望を教えて下さい！</h2>
						{{ app.future_vision|linebreaks}}
					{% endif %}

					{% if app.src_url %}
						<h3>アプリのソース</h3>
						{{ app.src_url}}
					{% endif %}

				</div>
		  	</div>
		  	<hr>
		  	<div>
		  		<a href="{{app.dl_link}}" class="btn btn-primary btn-lg btn-block">
					<img src="/img/platform/{{app.platform}}_w.png" width=40>
					アプリを今すぐ使ってみる！
				</a>
				<p>
					アプリの製作者が設定したダウンロードページ等に移動します。
				</p>
			</div>
            <div>
                {% include "plugin/ads_responsive.html" %}
            </div>
		  	<div>
		  	
		  	    <!-- X:S ZenBackWidget --><div id="zenback-widget-loader"></div><script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var r=Math.ceil((new Date()*1)*Math.random());var j=d.createElement("script");j.id=i;j.async=true;j.src="//w.zenback.jp/v1/?base_uri=http%3A//houkago-no.appspot.com&nsid=120843364928119134%3A%3A120843900993680072&rand="+r;d.body.appendChild(j);}}(document,"zenback-widget-js");</script><!-- X:E ZenBackWidget -->
            </div >

		</div>

		<div class="col-xs-12 col-sm-4">

			{% include "plugin/social_btn.html" %}

			<h2>このアプリの作者</h2>
			<div class="row">
				<div class="col-xs-2 col-md-2"></div>
				<div class="col-xs-8 col-md-8 center">
					<a href="{% url app.views.home.user developer.user_alias %}">
						<div class="thumbnail">
							<img class="prof_thumb img-responsive" src="{%url app.views.img.user_icon developer.key.id%}">
							<div class="caption">
								<h4>{{developer.uname}}</h4>
								{{developer.profile|linebreaks}}
							</div>
						</div>
					</a>
				</div>
			</div>
			<h3>{{developer.uname}}押しアプリ</h3>
			<div class="row">
				{% for papp in push_app %}
					<div class="col-xs-4">
						<a href="{% url app.views.home.app_detail papp.key.id %}">
							<div>
								<img src="{%url app.views.img.app_icon papp.key.id%}" class="img-responsive">
							</div>
							<small>{{papp.app_name}}</small>
						</a>
					</div>
				{% endfor %}
			</div>

			{% if related_app|length > 1 %}
				<h2>関連アプリ</h2>

				{% for rapp in related_app %}
					{% if rapp.key.id != app.key.id %}
						{% include 'plugin/app_box.html' %}
					{% endif %}
				{% endfor %}
			{% endif %}

			{% include 'plugin/regist_div.html' %}
        
	        <div>
	            <h2>スポンサード・リンク</h2>
	            {% include 'plugin/ads.html' %}
	        </div>
		</div>
	</div>
{% endblock %}
