{% extends "parent.html" %}
{% load my_utils %}
{% load bootstrap %}
{% block main %}
    <div class="row">
        <div class="col-md-8">
        <h2>appCプロモーションコード発行</h2>
        {% if not code %}
            <h3>コードの在庫がありません</h3>
            <p>現在プロモーションコードの在庫がありません。
            申し訳ありませんが、運営までお問い合わせください。</p>
        {% else %}
            <b>プロモーションコードを発行いたしました。</b>
            <br>
            あなたのプロモーションコード
            <div class="well">
                <b>{{code.serial}}</b>
            </div> 
            上記コードをコピーしてご利用ください。
            <p>appC cloudの新規登録の際に1000円分のプロモーションコードとしてご利用できます。</p>
        {% endif %}
            <h2>appC cloudへ登録</h2>
            <a href="https://app-c.net/account/regist/?tid=54">
                <img src="/img/material/appCcloud_bnr.png">
            </a>
            <p>
            appC cloudへの登録はこちらからどうぞ。
            登録時にプロモーションコードを忘れずに入力してください。
            </p>
        </div>
    </div>
{% endblock %}
