{% extends 'parent.html' %}
{% load my_utils %}
{% block title %}{{developer.uname}} - 放課後アプリ部{% endblock %}
{% block main %}
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<div class="">
				<div class="row">
					<div class="col-xs-3">
						<img class="prof_thumb img-responsive" src="{%url app.views.img.user_icon developer.key.id%}">
					</div>
					<div class="col-xs-9">
						<h3>{{developer.uname}}</h3>
						{% if developer.site_addr %}
							<div>
								<a href="{{developer.site_addr}}">
									<img src="/img/button/home.png" width=26>
									{{developer.site_addr}}<br>
								</a>
							</div>
						{% endif %}
						{% if developer.tw_name %}
							<div>
								<a href="http://twitter.com/{{developer.tw_name}}">
									<img src="/img/button/twitter.png" width=26>
									{{developer.tw_name}}<br>
								</a>
							</div>
						{% endif %}
						{% if developer.fb_addr %}
							<div>
								<a href="http://facebook.com/{{developer.fb_addr}}">
									<img src="/img/button/facebook.png" width=26>
									{{developer.fb_addr}}<br>
								</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>

			<h2>プロフィール</h2>
			<p>入部日 ：　{{developer.created_at|date:"Y年 m月d日"}}</p>
			<p>
				{{developer.profile|default:""|linebreaks}}
			</p>

			<h2>活動実績</h2>
			<div class="row">
				{% for rapp in apps %}
					{% if rapp.status == 1 %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {% include 'plugin/new_app_box.html' %}
                    </div>
					{% endif %}
				{% endfor %}
			</div>
		</div>

		<div class="col-xs-12 col-sm-4">
			{% include 'plugin/regist_div.html' %}
        
	        <div>
	            <h2>スポンサード・リンク</h2>
	            {% include 'plugin/ads.html' %}
	        </div>
		</div>
	</div>

{% endblock %}
