{% extends "parent.html" %}
{% block main %}


<div class="jumbotron">
	<h1>放課後アプリ部 <small>集え個人ディベロッパー</small></h1>
	<p>悩めるサンデープログラマーへ捧げるアプリ集客支援プラットフォーム</p>
</div>


<div class="row">
	<div class="main col-md-8">
		<h3>部員名簿</h3>
		{% for developer in developers %}
		    {% include 'plugin/profile_card.html' %}
		{% endfor %}
	</div>
	<div class="col-md-4">
		{% include 'plugin/regist_div.html' %}
		
		<div>
			<h2>スポンサード・リンク</h2>
			{% include 'plugin/ads.html' %}
		</div>
	</div>
<!--

  <div class="jumbotron">
  	<h1>放課後アプリ部 <small>集え個人ディベロッパー</small></h1>
  	<p>悩めるサンデープログラマーへ捧げるアプリ集客支援プラットフォーム</p>
  </div>
  <div class="row">
  	<div class="main col-md-8">
  		<h2>なにこれ？</h2>
  		<div class="block_line">
  			<p class="lead">
  				*『個人でアプリ作ったけど全然人集められない』<br>
  				*『プレス打ちたいけど法人じゃないから打てない』<br>
  				*『集客に大金を使いたくない』<br>
  				そんな個人ディベロッパーの悩みを解決いたします!<br>

  			</p>
  			<p>
	  			「放課後アプリ部」では、個人やチームで開発したアプリの
	  			（相互）集客をサポートするプラットフォームです。
	  			会社等で開発したアプリとは違い、個人で空き時間を利用して作ったアプリは
	  			プレスや広告費による集客手段が利用しづらく、
	  			良いアプリを作っても思うように人が集まりません。
	  			そんな状況を少しでも改善するため、個人ディベロッパーのためのサイトを作成致しました。
	  			集客に苦しむサンデープログラマの皆様、是非｢放課後アプリ部｣にご入部ください！<br>
	  			<b>※現在誠意作成中です。</b>
		  	</p>
	  	</div>
	  		
	  	<h2>デモ</h2>
	  	<div class="block_line">
	  		<p>
				どんなことをしたいかということを伝えるため、デモ用のページを用意いたしました。
				データが同じだったり、もろBootstrapだったりと仮組み段階ですが、
				コンセプトとか雰囲気を感じてもらえたらな、と思っています。<br>
				<a href="/demo" class="btn btn-info btn-md">デモを見てみる</a><br>
		  		こんなかんじでディベロッパーとその登録アプリを紹介していきます。
		  		対応プラットフォームはAndroid,iOS,Webアプリを予定してます。

	  		</p>
	  	</div>

		<h2>活動予定</h2>
	  	<div class="block_line">
	  		
	  		<p>
	  			<dl>
 					<dt>2014.01</dt>
  					<dd>ディベロッパー登録、Web版スタート</dd>
  					<dt>2014.02</dt>
  					<dd>Android用アプリカタログ作成</dd>
  					<dt>2014.03</dt>
  					<dd>API類公開、相互集客ウィジェット･SDK作成</dd>
  					<dt>2014.??</dt>
  					<dd>iOS用アプリカタログ作成(勉強中)</dd>
				</dl>
				最初はアプリ紹介を中心に活動していきますが、
				そのうちアプリ開発支援といったコンテンツも考えています。
			</p>
	  	</div>

	</div>

-->
          <!-- social buttons -->
      <div class="ninja_onebutton">
        <script type="text/javascript">
        //<![CDATA[
        (function(d){
        if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_b72973f805acc6ae2372e185de8c0c52)=='undefined'){
            document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/b72973f805acc6ae2372e185de8c0c52'><\/sc"+"ript>");
        }else{ 
            window.NINJA_CO_JP_ONETAG_BUTTON_b72973f805acc6ae2372e185de8c0c52.ONETAGButton_Load();}
        })(document);
        //]]>
        </script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
      </div>
  </div>

{% endblock main %}

{% block script%}
	$('#nav_home').addClass("active");
{% endblock %}