{% extends "parent.html" %}
{% load my_utils %}

{% block title %}放課後アプリ部 - 集まれ！放課後アプリディベロッパー！{% endblock %}
{% block main %}
<div class="jumbotron">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2 pull-left center">
            <img src="/img/material/app_icon512.png" class="img-responsive">
        </div>
        <h1 class="col-xs-11 col-sm-9 col-md-10">
            
            放課後アプリ部
            <br><small>集まれ！ アプリデベロッパー！</small>
        </h1>
    </div>
    <p class="head-line">
        「放課後アプリ部」は、個人のアプリ開発者達が集まって作る新しいプラットフォームです。
        会社の方針や収益性にとらわれないデベロッパー達が作る自由なアプリを集めてます！
    </p>
</div>


<div class="row">
    <div class="main col-md-8 col-xs-12">

        <h2>部員活動履歴<small>(新規登録順)</small></h2>
        <div class="panel-group" id="accordion">
            {% for platform, r_apps in recent_apps.items %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel_tappable" data-toggle="collapse" data-parent="#accordion" href="#collapse{{platform}}">
                            <h3 class="panel-title">
                                {{platform}}アプリ
                            </h3>
                        </a>
                    </div>
                    <div id="collapse{{platform}}" class="panel-collapse collapse {{forloop.first|yesno:",in,"}}">
                        <div class="panel-body row">
                            {% for app in r_apps %}
                                {% include 'plugin/app_box.html' %}
                            {% endfor %}
                            {% if has_more|keyvalue:platform %}
         　                      <div class="more_link">
                                    <a href="{% url app.views.home.app_list platform 1 %}">&gt;&gt; もっとみる</a>
          　                     </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
<script>$('.collapse').collapse();</script>
        <h2>新入部員<small>(新規登録順)</small></h2>
        <div class="row">
            {% for developer in developers %}
                    {% include 'plugin/profile_list.html' %}
            {% endfor %}

        </div>
        <!--<div class="more_link">
            <a href="#">&gt;&gt; もっとみる</a>
        </div>-->
            


    </div>


    <div class="col-md-4">

        {% include 'plugin/regist_div.html' %}
        
        <div>
            <h2>アプリカタログ</h2>
               <a href="https://play.google.com/store/apps/details?id=com.appspot.pistatium.houkagoapp">
                    <img alt="Android app on Google Play" src="https://developer.android.com/images/brand/ja_app_rgb_wo_60.png" />
                </a>
                <p>
                    <h5>Android版</h5>
                    放課後アプリ部に登録してあるアプリを閲覧できるカタログアプリ作りました！
                    Android向けのアプリはこちらから簡単に閲覧できます。

                </p>
        </div>
        <div>
            <h2>スポンサード・リンク</h2>
            {% include 'plugin/ads.html' %}
        </div>
    </div>
<!--

  <div class="jumbotron">
    <h1>放課後アプリ部 <small>集え個人ディベロッパー</small></h1>
    <p>悩めるサンデープログラマーへ捧げるアプリ集客支援プラットフォーム</p>
  </div>
  <div class="row">
    <div class="main col-md-8">
        <h2>なにこれ？</h2>
        <div class="block_line">
            <p class="lead">
                *『個人でアプリ作ったけど全然人集められない』<br>
                *『プレス打ちたいけど法人じゃないから打てない』<br>
                *『集客に大金を使いたくない』<br>
                そんな個人ディベロッパーの悩みを解決いたします!<br>

            </p>
            <p>
                「放課後アプリ部」では、個人やチームで開発したアプリの
                （相互）集客をサポートするプラットフォームです。
                会社等で開発したアプリとは違い、個人で空き時間を利用して作ったアプリは
                プレスや広告費による集客手段が利用しづらく、
                良いアプリを作っても思うように人が集まりません。
                そんな状況を少しでも改善するため、個人ディベロッパーのためのサイトを作成致しました。
                集客に苦しむサンデープログラマの皆様、是非｢放課後アプリ部｣にご入部ください！<br>
                <b>※現在誠意作成中です。</b>
            </p>
        </div>
            
        <h2>デモ</h2>
        <div class="block_line">
            <p>
                どんなことをしたいかということを伝えるため、デモ用のページを用意いたしました。
                データが同じだったり、もろBootstrapだったりと仮組み段階ですが、
                コンセプトとか雰囲気を感じてもらえたらな、と思っています。<br>
                <a href="/demo" class="btn btn-info btn-md">デモを見てみる</a><br>
                こんなかんじでディベロッパーとその登録アプリを紹介していきます。
                対応プラットフォームはAndroid,iOS,Webアプリを予定してます。

            </p>
        </div>

        <h2>活動予定</h2>
        <div class="block_line">
            
            <p>
                <dl>
                    <dt>2014.01</dt>
                    <dd>ディベロッパー登録、Web版スタート</dd>
                    <dt>2014.02</dt>
                    <dd>Android用アプリカタログ作成</dd>
                    <dt>2014.03</dt>
                    <dd>API類公開、相互集客ウィジェット･SDK作成</dd>
                    <dt>2014.??</dt>
                    <dd>iOS用アプリカタログ作成(勉強中)</dd>
                </dl>
                最初はアプリ紹介を中心に活動していきますが、
                そのうちアプリ開発支援といったコンテンツも考えています。
            </p>
        </div>

    </div>

-->
    {% include "plugin/social_btn.html" %}
  </div>

{% endblock main %}

{% block script%}
    $('#nav_home').addClass("active");
{% endblock %}