{% extends "parent.html" %}
{% load my_utils %}

{% block title %}放課後アプリ部 - 個人作成のアプリ集めてます!{% endblock %}
{% block meta %}
	<meta property="og:image" content="http://houkago-no.appspot.com/img/material/header.jpg">
	<meta name="twitter:card" content="product">
	<meta name="twitter:site" content="@houkago_app">
	<meta name="twitter:creator" content="@houkago_app">
	<meta name="twitter:title" content="個人作成のアプリ集めてます！放課後アプリ部">
	<meta name="twitter:description" content="個人のアプリ開発者が集まって作る新しいプラットフォーム！面白いアプリが揃ってます！">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@houkago_app">
    <meta name="twitter:creator" content="@kimihiro_n">
	<meta name="twitter:image:src" content="http://houkago-no.appspot.com/img/material/header.jpg">

{% endblock %}
{% block main %}



<div class="row">
    <div class="main col-md-8 col-xs-12">

        <div class="header" id="top_header">
            <h1 class="row">
                <img class="img-responsive" src="/img/material/header.jpg" alt="個人作成のアプリを集めてます！放課後アプリ部">
            </h1>
        </div>
        <div>
            <h2 class="header-leading">放課後アプリ部とは</h2>
            <p class="header-leading-more">個人のアプリ開発者が集まって作る新しいプラットフォームです。<br>
            会社の方針や収益性にとらわれない自由なアプリが集まってます！</p>
            <div class="more_link">
                <a href="/about">&gt;&gt;もっとみる</a>
            </div>
        </div>


        <h2>部員活動履歴<small>(登録アプリ)</small></h2>
        <div class="row">
            {% for rapp in pickup_apps %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pickup">
                    {% with "Pickup" as pickup %}  
                        {% include 'plugin/new_app_box.html' %}
                    {% endwith %}
                </div>
            {% endfor %}

            {% for rapp in apps %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    {% include 'plugin/new_app_box.html' %}
                </div>
            {% endfor %}
            {% for rapp in pickup_apps_after %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pickup">
                    {% with "Pickup" as pickup %}  
                        {% include 'plugin/new_app_box.html' %}
                    {% endwith %}
                </div>
            {% endfor %}

            <div class="more_link">
                <a href="{% url "app.views.home.pr_link" %}"><small>&gt;&gt; ピックアップされるには?</small></a>
            </div>

            <div class="row" style="margin:0 5px;">
                {% for platform in platforms %}
                    <div class="col-xs-4 plat_list">
                        <a href="{% url "app.views.home.app_list" platform.1 1 %}">
                            <img src="/img/platform/{{platform.0}}_w.png" width="100px" alt="{{platform.1}}アプリ一覧">
                            <br>
                            アプリをもっとみる
                        </a>
                    </div>
                {% endfor %} 
            </div>
                

        </div>
        <h2>新入部員<small>(新規登録順)</small></h2>
        <div class="row">
            {% for developer in developers %}
                <div class="col-xs-2 visible-xs"></div>
                <div class="profile_card col-xs-9 col-sm-6 col-md-6 col-lg-5 col-lg-offset-1 center">
                    {% include 'plugin/profile_list.html' %}
                </div>
                <div class="col-xs-1 visible-xs"></div>
            {% endfor %}
        </div>
        <div class="more_link">
            <a href="{% url "app.views.home.user_list" 1 %}">&gt;&gt; もっとみる</a>
        </div>
            


    </div>


    <div class="col-md-4 sidebar">
        {% include 'plugin/search_div.html' %}


        {% include 'plugin/regist_div.html' %}
        
        <div>
            <h2>&nbsp;</h2>
            {% include 'plugin/ads.html' %}
        </div>

        <div>
            <h2>アプリカタログ</h2>
               <a href="https://play.google.com/store/apps/details?id=com.appspot.pistatium.houkagoapp">
                    <img alt="Android app on Google Play" src="https://developer.android.com/images/brand/ja_app_rgb_wo_60.png" />
                </a>
                <p>
                    <h5>Android版</h5>
                    放課後アプリ部に登録してあるアプリを閲覧できるカタログアプリ作りました！
                    Android向けのアプリはこちらから簡単に閲覧できます。

                </p>
        </div>

        <div>
            <h2><a class="twitter-timeline" href="https://twitter.com/houkago_app" data-widget-id="480624310030049280">@houkago_app</a></h2>
            
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


        </div>


        <div>
            <h2>&nbsp;</h2>
            {% include 'plugin/ads.html' %}
        </div>
    </div>
<!--

  <div class="jumbotron">
    <h1>放課後アプリ部 <small>集え個人ディベロッパー</small></h1>
    <p>悩めるサンデープログラマーへ捧げるアプリ集客支援プラットフォーム</p>
  </div>
  <div class="row">
    <div class="main col-md-8">
        <h2>なにこれ？</h2>
        <div class="block_line">
            <p class="lead">
                *『個人でアプリ作ったけど全然人集められない』<br>
                *『プレス打ちたいけど法人じゃないから打てない』<br>
                *『集客に大金を使いたくない』<br>
                そんな個人ディベロッパーの悩みを解決いたします!<br>

            </p>
            <p>
                「放課後アプリ部」では、個人やチームで開発したアプリの
                （相互）集客をサポートするプラットフォームです。
                会社等で開発したアプリとは違い、個人で空き時間を利用して作ったアプリは
                プレスや広告費による集客手段が利用しづらく、
                良いアプリを作っても思うように人が集まりません。
                そんな状況を少しでも改善するため、個人ディベロッパーのためのサイトを作成致しました。
                集客に苦しむサンデープログラマの皆様、是非｢放課後アプリ部｣にご入部ください！<br>
                <b>※現在誠意作成中です。</b>
            </p>
        </div>
            
        <h2>デモ</h2>
        <div class="block_line">
            <p>
                どんなことをしたいかということを伝えるため、デモ用のページを用意いたしました。
                データが同じだったり、もろBootstrapだったりと仮組み段階ですが、
                コンセプトとか雰囲気を感じてもらえたらな、と思っています。<br>
                <a href="/demo" class="btn btn-info btn-md">デモを見てみる</a><br>
                こんなかんじでディベロッパーとその登録アプリを紹介していきます。
                対応プラットフォームはAndroid,iOS,Webアプリを予定してます。

            </p>
        </div>

        <h2>活動予定</h2>
        <div class="block_line">
            
            <p>
                <dl>
                    <dt>2014.01</dt>
                    <dd>ディベロッパー登録、Web版スタート</dd>
                    <dt>2014.02</dt>
                    <dd>Android用アプリカタログ作成</dd>
                    <dt>2014.03</dt>
                    <dd>API類公開、相互集客ウィジェット･SDK作成</dd>
                    <dt>2014.??</dt>
                    <dd>iOS用アプリカタログ作成(勉強中)</dd>
                </dl>
                最初はアプリ紹介を中心に活動していきますが、
                そのうちアプリ開発支援といったコンテンツも考えています。
            </p>
        </div>

    </div>

-->
    {% include "plugin/social_btn.html" %}
  </div>

{% endblock main %}

{% block script%}
    $('#nav_home').addClass("active");
    //$("#top_nav_collapse").collapse('hide');
{% endblock %}
