{% extends "parent.html" %}

{% block title %}宣伝リンク(β){% endblock %}

{% block main %}
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="page-header">
            <h1>宣伝リンク(β)とは？</h1>
        </div>
      	
      	<p>
      		宣伝リンクとは、あなたのアプリをトップページにて優先的に紹介できる機能です。
      	</p>
      	<p>
      		放課後アプリ部への宣伝リンク(後述)をあなたのサイトやSNSで貼っていただくと、
      		そのリンクの流入数に応じてあなたのアプリをトップにて優先的に紹介いたします。
      	</p>
      	
      	<h2>宣伝リンク</h2>
      	<p>
      		宣伝リンクは以下の形式で作成できます。
      		<pre>http://houkago-no.appspot.com/aff/to_home/{$宣伝したいアプリID}</pre>
      		アプリIDは、アプリの詳細ページ末尾の数字になります。<br>
      		管理ページの方から簡単にリンクを取得できるようにしてありますので、
      		どうぞご利用下さい。

      	</p>
      	<p>
      		このリンクをサイトやSNS上で貼っていただければ、
      		アクセス数に応じてピックアップアプリとして掲載させて頂きます。
      	</p>
      	<p>
      		なお、このリンクの遷移先は放課後アプリ部のトップページとなっております。<br>
      		特定のページ(カテゴリやプラットフォーム別ページ)ヘの遷移リンクは現在検討中です。
      	</p>

      	<h2>ランキング付けについて</h2>
      	<p>
      		リンクの流入数に応じてどのようにランキング付けを行うかは現在調整中です。
      	</p>
      	<p>
      		宣伝力の少ない個人開発者を応援する目的で、放課後アプリ部は運営しておりますので、
      		PVの少ないサイトからでもランキング上位に(短時間でも)入れるような
      		アルゴリズムの調整を行いたいと考えております。<br>
      		必ずしも掲載率と流入数が一致するわけではない点はご了承ください。
      	</p>

      	<h2>素材</h2>
      	<div class="clearfix">
	      	<img src="/img/material/banner360x160.png" width=250 class="thumbnail pull-left">
	      	<img src="/img/material/banner512x512.png" width=250 class="thumbnail pull-left">
	      	<img src="/img/material/houkago_banner.jpg" width=250 class="thumbnail pull-left">
	      	<img src="/img/material/app_icon512.png" width=212 class="thumbnail pull-left">
	      	<img src="/img/material/app_logo_beta_250.png" width=250 class="thumbnail pull-left">
	    </div>
	    <p>
	    画像リンク用にご自由にお使い下さい。<br>
	    宣伝リンクを貼る画像やテキストはご自由に加工して頂いて構いませんが、<br>
	    全く関係ない画像などで不正にユーザーを呼びこむ行為は禁止させていただきます。
	    </p>

    </div>
	<div class="col-xs-12 col-sm-4">

   	 	{% include 'plugin/regist_div.html' %}

    	<div>
        	<h2>スポンサード・リンク</h2>
        	{% include 'plugin/ads.html' %}
    	</div>
    </div>
</div>
{% endblock %}
