{% extends "parent.html" %}
{% load bootstrap %}
{% block main %}
<div>
	<div class="">
		<h3>事前登録ありがとうございました！</h3>
		<p>アルファ版リリースの際には頂いたメールアドレス宛てにご連絡差し上げます。</p>
		<p>
			連絡を行うアドレスは以下を予定しております。<br>
			受信拒否等の設定を行っている場合は解除して頂くようお願い致します。
			<address><a>info@houkago-no.appspotmail.com</a></address>
			
		</p>
		<div class="">
			<div class="">
				<h4>アンケート</h4>
				もしお時間がありましたら簡単なアンケートにご協力ください。<br>
				<a class="btn btn-default" target="_blank" href="https://docs.google.com/forms/d/10Ba2xG6_5Bm_3eqSFbdf2ZsKBrmtHHbISoYwvEsUcnQ/viewform">アンケートに答える</a>
			</div>
			<div class="">
				<h4>登録したことをつぶやく</h4>
				<a href="https://twitter.com/intent/tweet?text=%23%E6%94%BE%E8%AA%B2%E5%BE%8C%E3%82%A2%E3%83%97%E3%83%AA%E9%83%A8%20%E3%81%AB%E4%BA%8B%E5%89%8D%E7%99%BB%E9%8C%B2%E3%81%97%E3%81%BE%E3%81%97%E3%81%9F%EF%BC%81%0D%0A%0D%0Ahttp%3A%2F%2F%2F%2Fhoukago-no.appspot.com%2F%0D%0A%E5%80%8B%E4%BA%BA%E3%82%A2%E3%83%97%E3%83%AA%E9%96%8B%E7%99%BA%E8%80%85%E3%81%8C%E9%9B%86%E3%81%86%E6%94%BE%E8%AA%B2%E5%BE%8C%E3%82%A2%E3%83%97%E3%83%AA%E9%83%A8%EF%BC%81%E3%83%AA%E3%83%AA%E3%83%BC%E3%82%B9%E5%89%8D%E3%81%AE%E4%BB%8A%E3%81%AA%E3%82%89%E7%99%BB%E9%8C%B2%E8%B2%BB%E3%81%8C%E7%84%A1%E6%96%99%EF%BC%81"><img src="/img/button/twitter.png"></a>
			</div>
		</div>
	</div>
</div>
{% endblock main %}

{% block script%}
	$('#nav_pre').addClass("active");
{% endblock %}