{% extends "parent.html" %}
{% block main %}

{% if login_url %}
    <h3>入部申請する/ログインする</h3>
    <p>
		<a href="{{login_url}}" class="btn btn-primary">入部申請（ログイン）はこちら</a>
	</p>
	<p>
		Googleのアカウントで簡単に放課後アプリ部に入部できます。<br>
		登録済みの方もこちらのボタンからログインして下さい。
	</p>

	<hr>
	<div class="col-md-8">
		<h3>入部案内</h3>
		<p>
			放課後アプリ部は
			<b>法人以外で</b>アプリを作成するアプリディベロッパーための部活(Webサービス)です。
			<ul>
				<li>土日の休みを利用して開発するサンデープログラマ</li>
				<li>アプリを作っている学生ディベロッパー</li>
				<li>有志が数人集まって作るディベロッパーチーム</li>
			</ul>
			などの方をターゲットとしております。<br>
			法人格を持っていなければチームとしての登録も可能です。<br>
			また、アプリ内広告導入による営利・非営利についても問いません。<br>
		</p>
	</div>
		<!--
		<h4>禁止事項</h4>
		<p>
			以下に該当するアプリの登録は禁止です。
			<ul>
				<li>法人として作成したアプリ</li>
				<li>受託案件として作成したアプリ</li>
				<li>登録者自身が開発していないアプリ</li>
				<li>GooglePlay,iTunes等のマーケットからリジェクトされうるアプリ</li>
			</li>
		</p>
		<p>
			
			下記のような
		-->



{% else %}
    <h3>ログアウト</h3>
    現在 {{developer.uname}} でログイン中です。<br>
	<a href="{{logout_url}}" class="btn btn-primary">ログアウトはこちら</a>

{% endif %}

<hr>
	<div class="col-md-8">
		<h3>プライバシーポリシー</h3>
		<p>
			本文書は、当サイト（放課後アプリ部）における個人情報の取り扱いについての方針を示したものです。
			当サイトを利用するにあたり、最新の本規約に同意しているものとみなします。
		</p>

		
		<p>
			<h4>収集する情報</h4>
			本サイトでは、利用登録時に以下の情報を収集いたします。
			<ol>
				<li>登録時にご登録いただいたユーザー属性情報</li>
				<li>Google OpenIDログイン時に発行されるユーザーID</li>
				<li>個人を特定しない形でのサイト内遷移情報</li>
			</ol>
			また、Google OpenIDを利用時に一時的にメールアドレスを取得いたしますが、
			連絡用メールアドレスとして使用をしない場合、サーバー側で保存せず破棄いたします。
		</p>

		
		<p>
			<h4>情報の利用目的</h4>
			収集した情報の利用目的を下記に記述します。
			<ol>
				<li>当サイト利用者への情報提供</li>
				<li>当サイトの発展のための利用</li>
				<li>当サイト運用上必要と思われる情報の通知</li>
				<li>その他、本サイトが必要と認識する事象への対処及び利用</li>
			</ol>
		</p>

		<h4>収集した情報の第三者への提供</h4>
		<p>
			収集した情報のうち、メールアドレス等個人を特定するものを除く登録情報
			については外部にAPIという形で提供することがあります。
			また、以下の場合、個人情報を含む形で外部に提供することがあります。
			<ol>
				<li>裁判所や警察などの司法もしくは行政機関、またはこれらに準じる者から適法な照会がある場合</li>
				<li>法令または本サービスの定める規約への違反や社会通念上の問題に対処する場合</li>
				<li>本サービス製品のユーザーやその他の第三者の安全や権利や利益を保護するために必要な場合</li>
				<li>上記のほか、法令により開示または提供が許容される場合</li>
			<ol>
		</p>
	</div>

{% endblock main %}