{% extends "parent.html" %}
{% block main %}

	{% if login_url %}

	    <h2>入部する/ログインする</h2>
	    <p>
			<a href="{{login_url}}" class="btn btn-primary">入部（ログイン）はこちら</a>
		</p>
		<p>
			Googleのアカウントで簡単に放課後アプリ部に入部できます。<br>
			登録済みの方もこちらのボタンからログインして下さい。
			<br><a href="#privacy_policy">プライバシーポリシー</a>
		</p>

	{% else %}
			<a href="{% url app.views.dev.index %}" class="btn btn-info">開発者ページへ</a>
		    <h2>ログアウト</h2>
		    <p>
		    	現在 <code>{{developer.uname}}</code>でログイン中です。
		    </p>
		    <p>
				<a href="{{logout_url}}" class="btn btn-primary">ログアウトはこちら</a>
			</p>
	{% endif %}

	<div class="row">
		<div class="col-md-8">
			<h2>入部案内</h2>

			<h3>入部資格について</h3>
			<p>
				放課後アプリ部は
				<b>法人以外で</b>アプリを作成するアプリディベロッパーための部活(Webサービス)です。具体的には
				<ul>
					<li>土日の休みを利用して開発するサンデープログラマ</li>
					<li>アプリを作っている学生ディベロッパー</li>
					<li>有志が数人集まって作るディベロッパーチーム</li>
				</ul>
				といったような方をターゲットとしております。<br>
				法人格を持っていなければチームとしての登録も可能です。<br>
				また、アプリ内広告導入による営利・非営利についても問いません。<br>
			</p>
			<h3>費用について</h3>
			<p>
				現在、登録・運用について費用は一切かかりません。
				今後新規登録料を設けたり、別途有料サービスを用意する可能性は
				ありますが、今登録して頂いた方については、基本機能の利用に
				対して費用が発生する事はありません。
			</p>

			<h3>禁止事項 (2015/06/07追記)</h3>
			<p>
				以下に該当する行為は禁止とさせていただきます。
				<ul>
					<li>登録者自身が開発していないアプリの登録</li>
                    <li>ユーザーに不利益をもたらすアプリの登録</li>
                    <li>広告やSEO操作を目的とした大量のアプリの登録</li>
					<li>GooglePlay,iTunes等の公式マーケットからリジェクトされうるアプリの登録</li>
            
                    <li>その他,公序良俗に反する行為</li>
				</ul>
			</p>
			<p>
			    これらに抵触する行為があった場合、予告なく削除・利用停止の処置を行う事があります。
            </p>
			<hr>

			<a name="privacy_policy" class="anchor"></a>
			<h2>プライバシーポリシー</h2>
			
			<p>
				本文書は、当サイト（放課後アプリ部）における個人情報の取り扱いについての方針を示したものです。
				当サイトを利用するにあたり、最新の本規約に同意しているものとみなします。
			</p>

			
			<p>
				<h4>収集する情報</h4>
				本サイトでは、利用登録時に以下の情報を収集いたします。
				<ol>
					<li>登録時にご登録いただいたユーザー属性情報</li>
					<li>Google OpenIDログイン時に発行されるユーザーID</li>
					<li>個人を特定しない形でのサイト内遷移情報</li>
				</ol>
				また、Google OpenIDを利用時に一時的にメールアドレスを取得いたしますが、
				連絡用メールアドレスとして使用をしない場合、サーバー側で保存せず破棄いたします。
			</p>

			
			<p>
				<h4>情報の利用目的</h4>
				収集した情報の利用目的を下記に記述します。
				<ol>
					<li>当サイト利用者への情報提供</li>
					<li>当サイトの発展のための利用</li>
					<li>当サイト運用上必要と思われる情報の通知</li>
					<li>その他、本サイトが必要と認識する事象への対処及び利用</li>
				</ol>
			</p>

			<h4>収集した情報の第三者への提供</h4>
			<p>
				収集した情報のうち、メールアドレス等個人を特定するものを除く登録情報
				については外部にAPIという形で提供することがあります。
				また、以下の場合、個人情報を含む形で外部に提供することがあります。
				<ol>
					<li>裁判所や警察などの司法もしくは行政機関、またはこれらに準じる者から適法な照会がある場合</li>
					<li>法令または本サービスの定める規約への違反や社会通念上の問題に対処する場合</li>
					<li>本サービス製品のユーザーやその他の第三者の安全や権利や利益を保護するために必要な場合</li>
					<li>上記のほか、法令により開示または提供が許容される場合</li>
				</ol>
			</p>

			<hr>
			<h2>免責事項</h2>
			<p>
				本サイトの情報は、無料にて提供されています。<br>
				当サイトを利用したウェブサイトの閲覧や情報収集については、情報がユーザーの需要に適合するものか否か、情報の保存や複製その他ユーザーによる任意の利用方法により必要な法的権利を有しているか否か、著作権、秘密保持、名誉毀損、品位保持および輸出に関する法規その他法令上の義務に従うことなど、ユーザーご自身の責任において行っていただきますようお願いいたします。<br>
				当サイトの利用につき、何らかのトラブルや損失・損害等につきましては一切責任を問わないものとします。
				当サイトに掲載されたウェブサイトやソフトウェアの合法性、正確性、道徳性、最新性、適切性、著作権の許諾や有無など、その内容については一切の保証を致しかねます。当サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。	
			</p>
		</div>
		<div class="col-md-4">
			<h2>新入部員一覧</h2>
			{% for developer in developers %}
				<div class="profile_card center">
                    {% include 'plugin/profile_list.html' %}
                </div>
            {% endfor %}
		</div>
	</div>
{% endblock main %}
