{% extends "parent.html" %}
{% block main %}
  <h1>ようこそ！放課後アプリ部へ。</h1>

  <p>
  	放課後アプリ部への入部が完了いたしました。<br>
    プロフィール登録やアプリ登録をすることで、放課後アプリ部の部員紹介・活動実績
    に掲載されるようになります。
  </p>
  <a href="{% url "app.views.dev.index" %}" class="btn btn-primary">開発者コンソールへ</a>

  <hr>
  <div>
  					<h4>Twitterで入部報告する</h4>
				<a href="https://twitter.com/intent/tweet?text=%23%e6%94%be%e8%aa%b2%e5%be%8c%e3%82%a2%e3%83%97%e3%83%aa%e9%83%a8%20%e3%81%ab%e5%85%a5%e9%83%a8%e3%81%97%e3%81%be%e3%81%97%e3%81%9f%ef%bc%81%0d%0a%0d%0ahttp%3a%2f%2fhoukago%2dno%2eappspot%2ecom%2f%0d%0a%e5%80%8b%e4%ba%ba%e3%82%a2%e3%83%97%e3%83%aa%e9%96%8b%e7%99%ba%e8%80%85%e3%81%8c%e9%9b%86%e3%81%86%e6%94%be%e8%aa%b2%e5%be%8c%e3%82%a2%e3%83%97%e3%83%aa%e9%83%a8%ef%bc%81" class="btn btn-default"><img src="/img/button/twitter.png">ツイートする</a>
				<p>
					放課後アプリ部の知名度拡散にご協力ください。m(_ _)m
				</p>
	</div>
{% endblock main %}
