{% extends "parent.html" %}
{% load my_utils %}

{% block title %}
{{cat_id}}
    {% if cat_id %}
        新入部員一覧 page.{{page}} - 放課後アプリ部
    {% else %}
        {{plat_str}}アプリ一覧 page.{{page}} - 放課後アプリ部
    {% endif %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-8">
            <h1>新入部員一覧<small>(新規登録順)</small></h1>

            <ul class="pager">
                {% if developers.has_previous %}
                    <li class="active">
                        <a href="{{ developers.previous_page_number }}">&larr; previous</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href="#">&larr; previous</a>
                    </li>
                {% endif %}

                Page {{ developers.number }} of {{ developers.paginator.num_pages }}.

                {% if developers.has_next %}
                    <li class="active">
                        <a href="{{ developers.next_page_number }}">&rarr; next</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href="#">next &rarr; </a>
                    </li>
                {% endif %}
            </ul>

            <div class="row profiles">
                {% for developer in developers %}
                    <div class="col-xs-12 col-md-6">
                        {% include 'plugin/profile_list.html' %}
                    </div>
                {% endfor %}
            </div>

            <ul class="pager">
                {% if developers.has_previous %}
                    <li class="active">
                        <a href="{{ developers.previous_page_number }}">&larr; previous</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href="#">&larr; previous</a>
                    </li>
                {% endif %}

                Page {{ apps.number }} of {{ apps.paginator.num_pages }}.

                {% if developers.has_next %}
                    <li class="active">
                        <a href="{{ developers.next_page_number }}">&rarr; next</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href="#">next &rarr; </a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div class="col-md-4">
            {% include 'plugin/regist_div.html' %}

            <h2>スポンサード・リンク</h2>
            {% include 'plugin/ads.html' %}
        </div>
    </div>
{% endblock %}