/* #DF5A6B */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
body {
  padding-top: 70px;
}

h1{

}
h2{
  border-top: 3px dotted #DF5A6B;
  padding: 10px 0 10px 1px;
  overflow: hidden;
  font-size: 22px;
}
h3 {
  border-left: 9px solid #777;
  padding: 10px 0 10px 5px; 
  word-break: normal;
  word-wrap: normal;
  white-space: nowrap;
  font-size: 18px;
}
a.anchor{
  padding-top:300px;
  margin-top:-300px
}
.form-group{
  margin-bottom: 25px;
  margin-top: 5px;
}
.center{
  text-align: center;
  padding: 2px;
}
.center > * {
  margin: auto;
  text-align: left;
}
.more_link{
  width:99%;
  padding: 0px 30px 10px 0;
  text-align: right;
  font-weight: bold;
  font-size: 120%;
}

.main p {
  max-width:600px;
  display:block;
}
.block_line{
  border-left: 6px #B7D4D6 solid;
  padding-left: 6px;
  margin-left:6px;

}
.head-line{
  max-width: 690px;
  line-height: 210% !important; 
  display: block;
  margin-top: 10px;
  padding: 15px;
  background: #FBFBFB;
  border-radius: 15px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -20px;
  /* Pad bottom by footer height */
  padding: 0 0 20px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 40px;
  padding-top: 10px;
  background-color: #f5f5f5;
}
.desc{
  margin-bottom: 20px;
  margin-left: 5px;
  border-left: 5px solid #aaaaaa;
  padding-left: 5px;
}
.dev_app{
  padding: 10px;
  border:1px solid #cccccc;
  overflow: hidden;
  color:#333;
}
.dev_app_icon{
  height:100px;
}
.user_app_img{
  height: 100px;
  text-align:center;
  padding:0 auto;
  margin: 0 auto;
}
.platform{
  padding: 5px;
}
.platform h4{
  margin: 0 0 2px 10px;
}
.platform img{
  max-width: 25px;
  margin-right:5px;
}
.app_detail p{
  margin:0px 10px;
  font-size: 16px;
}
.profiles{

}
.profile_wrap{
  padding:3px 3px 3px 15px;
  border-radius: 8px;
  border:#aaa solid 1px;
  /*margin:10px 1px;*/
  overflow: hidden;
}
.profile_wrap h3{
  word-break: normal;
  word-wrap: normal;
  overflow: hidden;
}
.profile_line{
  overflow: hidden;
  word-break: normal;
  word-wrap: normal;
  white-space: nowrap;
  padding:3px 5px;
  margin-right: 10px;
  background:#f5f5f5;
  border-radius: 3px;
  font-size: x-small;
  color:#333;
}
.profile_card{
  padding:3px;
}
.profile_card h3{
  margin:5px 0;
}
.profile_card p {
  word-wrap: break-word;
  word-break: break-all;
  margin: 0px 1px 3px 1px;
}
.profile_desc{
  height: 100px;
  font-size: xx-small;
  overflow: hidden;
}
.profile_main{
  padding:0px 10px 0px 0px;
}
.profile_main > h3{
  border:none 0px #fff;
}

.prof_thumb{

}
.prof_app_1{
  width:160px;
  height:160px;
}
.prof_app_2{
  width:80px;
  height:80px;
}
.prof_app_3{
  width:80px;
  height:80px;
}
.prof_nest_apps{
}
.ninja_onebutton{
  padding:10px;
}
.private_mode{
  background: #ccc;
}
.app-box{
  height:100px;
  margin: 15px 0;
  overflow: hidden;
}
.app-box .caption > small{
  color:#555;
}

.recemt_app_date{
  font-size:xx-small;
}
.recent_app_icon{
  max-height:90px;
  max-width: 90px;
  float: left;
  margin: 1px;
  margin-right: 5px;
}
.list_thumb{
  max-height: 85px;
}
.panel_tappable{
  text-decoration: none;
  color: #DF5A6B;
}
.panel_tappable:hover{
  text-decoration: none;
  color: #b72336;
}
.panel_tappable > h3{
  border:none;
  font-weight: bold;
}
.form_desc{
  padding: 0 0 10px 10px;
  color: #669;
}
.main_title{
  white-space: nowrap;
  word-break: normal;
  word-wrap: normal;
  overflow: hidden;
}

#title_box{
  background-color: #FFF7DF;
  background-image: url("/img/material/banner_bg.jpg");
  padding-left: 30px;
  padding-right: 30px;
}
#title_box small{
  color: #666666;
}


#zenback-widget .zenback-module-label a,
#zenback-widget .zenback-module-label span
{
  font-size: 130%;
  font-weight: normal !important;
  display: block;
  padding-left: 10px !important;
  border-left: 5px solid #DF5A6B;
}
