{% extends "parent.html" %}
{% block main %}


  <div class="jumbotron">
  	<h1>放課後アプリ部 <small>集え個人ディベロッパー</small></h1>
  	<p>悩めるサンデープログラマーへ捧げるアプリ集客支援プラットフォーム</p>
  </div>
  <div class="row">
  	<div class="main col-md-8">
  		<div>
		  	<h2>なにこれ？</h2>
		  	<p>
		  			<ol>
		  				<li>個人でアプリ作ったけど全然人集められない</li>
		  				<li>プレス打ちたいけど法人じゃないから打てない</li>
		  				<li>集客に大金を使いたくない</li>
		  			</ol>
		  			そんな個人ディベロッパーの悩みを解決いたします!<br>
		  			「放課後アプリ部」では、個人やチームで開発したアプリの
		  			（相互）集客をサポートするプラットフォームです。
		  			会社等で開発したアプリとは違い、個人で空き時間を利用して作ったアプリは
		  			プレスや広告費による集客手段が利用しづらく、
		  			良いアプリを作っても思うように人が集まりません。
		  			そんな状況を少しでも改善するため、個人ディベロッパーのためのサイトを作成致しました。
		  			集客に苦しむサンデープログラマの皆様、是非｢放課後アプリ部｣にご入部ください！<br>
		  			<b>※現在誠意作成中です。</b>
		  	</p>
	  	</div>
	  		
	  	<div>
	  		<h2>デモ</h2>
	  		<p>
				どんなことをしたいかということを伝えるため、デモ用のページを用意いたしました。
				データが同じだったり、もろBootstrapだったりと仮組み段階ですが、
				コンセプトとか雰囲気を感じてもらえたらな、と思っています。<br>
				<a href="/demo" class="btn btn-info btn-md">デモを見てみる</a><br>
		  		こんなかんじでディベロッパーとその登録アプリを紹介していきます。
		  		対応プラットフォームはAndroid,iOS,Webアプリを予定してます。

	  		</p>
	  	</div>

	  	<div>
	  		<h2>活動予定</h2>
	  		<p>
	  			<dl>
 					<dt>2014.01</dt>
  					<dd>ディベロッパー登録、Web版スタート</dd>
  					<dt>2014.02</dt>
  					<dd>Android用アプリカタログ作成</dd>
  					<dt>2014.03</dt>
  					<dd>API類公開、相互集客ウィジェット･SDK作成</dd>
  					<dt>2014.??</dt>
  					<dd>iOS用アプリカタログ作成(勉強中)</dd>
				</dl>
			</p>
	  	</div>

	</div>
	<div class="col-md-4">
		<div>
			<h2>事前登録</h2>
	  			<a class="btn btn-primary btn-lg" href="{% url webfront.views_home.pre %}">事前登録してみる</a>
	  			<h4>今なら登録料が無料！</h4>
	  			プラットフォームへの登録の際、数百円程度の登録料を頂く予定ですが、
	  			アルファ版へ事前登録をしていただいた方には特別登録料を無料にて提供いたします。
	  			年会費のようなものは不要なため、今登録していただくと完全無料で利用できます。<br>
	  			この機会に是非事前登録を！
	  	</div>

	</div>
  </div>

  <a href="{% url webfront.views_regist.index %} ">登録</a>
{% endblock main %}

{% block script%}
	$('#nav_home').addClass("active");
{% endblock %}