{% extends "parent.html" %}
{% load bootstrap %}
{% block main %}
<div>
	<div class="">
		<h3>事前登録</h3>
		<div class="">
			放課後アプリ部は現在2014年1月のスタートを目処に開発を行っています。<br>
			参加希望、もしくは興味がありましたら下記フォームよりメールアドレスをご登録ください。<br>
			スタート時に登録していただいたメールアドレス宛に連絡を差し上げます。<br>
			<form action="/pre_post" method="POST" class="form-inline" role="form">
				{{form|bootstrap_inline}}
				<button type="submit" class="btn btn-md btn-primary">予約登録する</button>
			</form>
		</div>
	</div>
</div>
{% endblock main %}

{% block script%}
	$('#nav_pre').addClass("active");
{% endblock %}